<div class="footer">
    <p>Quiz4IOE is the #1 platform for helping students ace the IOE Entrance Exam with practice quizzes tailored to the exam pattern. Join thousands of other students and boost your chances of success!</p>
    <p>Want to learn more? <a href="#">Visit our FAQ page</a></p>
</div>
